<h3 class="alert">
  Please Select Root
</h3>
<% roots.each do |root| -%>
    <div class="well">
      <a href="<%= root.http.route %>" class="btn" style="min-width: 200px;">
        <%= root.saint.menu.label %>
      </a>
    </div>
<% end -%>
