<h3 class="alert">
  Please Select Root
</h3>

<% @nodes.each do |node| -%>
    <div class="well">
      <a href="<%= node.http.route %>" class="btn" style="min-width: 200px;">
        <%= node.saint.menu.label %>
      </a>
    </div>
<% end -%>
