<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= saint.meta_title || 'Saint - Simple Admin Interface' %></title>
</head>
<body style="margin: 0; padding: 0;">

<div style="display: inline-block;">
  <%= Saint::Menu.new.render %>
</div>

<div style="margin-left: 20px; margin-right: 20px;">
  <%= yield %>
</div>

</body>
</html>
