<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @__meta_title__ || 'Saint - Simple Admin Interface' %></title>

  <%= @__assets__ ||= Saint::Utils.saint_view.render_view('assets') %>

</head>
<body>

<div class="container">
  <div class="saint-menu-top-container">
    <div class="saint-menu-top-content">
      <%= @__menu__ ||= Saint::Menu.new.render -%>
    </div>
  </div>
  <%= yield %>
</div>

</body>
</html>
